@use '../utils' as *;

/*----------------------------------------*/
/*  2.10 Hotspot
/*----------------------------------------*/

.#{$theme-prifix}-hotspot{
    display: inline-block;
    width: 44px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-size: var(--wt-fz-p);
    color: var(--wt-common-black);
    border-radius: 50%;
    background-color: var(--wt-common-white);
    position: absolute;
    z-index: 1;

    & svg{
        @extend %svg-2;
    }

    &:hover{
        cursor: pointer;
    }
}