@use '../utils' as *;

/*----------------------------------------*/
/*  2.16 Search
/*----------------------------------------*/

.search-popup{
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 99999;
    margin-top: -540px;
    transform: translateY(-100%);
    background-color: rgba(0,0,0,0.90);
    -webkit-transition: all 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
    -moz-transition: all 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
    -o-transition: all 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
    transition: all 1500ms cubic-bezier(0.860, 0.000, 0.070, 1.000); /* easeInOutQuint */
    -webkit-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
    -moz-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
    -o-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
    transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000); /* easeInOutQuint */
}

.search-popup{
    width: 100%;
}

.search-active .search-popup{
    transform: translateY(0%);
    margin-top: 0;
}

.search-popup .close-search {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	margin-top: -200px;
	border-radius: 50%;
	text-align: center;
	background-color: var(--wt-theme-primary);
	width: 70px;
	cursor: pointer;
	box-shadow: 0 0 10px rgba(0,0,0,0.05);
	border-bottom: 3px solid var(--wt-common-white);
	border-top: 3px solid var(--wt-common-white);
    border-right: 3px solid rgba(0,0,0,0.90);
    border-left: 3px solid rgba(0,0,0,0.90);
	-webkit-transition: all 500ms ease;
    transition: all 500ms ease;
	height: 70px;
	line-height: 70px;
	text-align: center;
}
.search-active .search-popup .close-search{
    visibility: visible;
    opacity: 1;
    top: 50%;
    -webkit-transition-delay: 1500ms;
    -moz-transition-delay: 1500ms;
    -ms-transition-delay: 1500ms;
    -o-transition-delay: 1500ms;
    transition-delay: 1500ms;
}
.search-popup form{
    position: absolute;
    max-width: 700px;
    top: 50%;
    left: 15px;
    right: 15px;
    margin:-35px auto 0;
    transform: scaleX(0);
    transform-origin: center;
    background-color: #111111;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.search-active .search-popup form{
    transform: scaleX(1);
    -webkit-transition-delay: 1200ms;
    -moz-transition-delay: 1200ms;
    -ms-transition-delay: 1200ms;
    -o-transition-delay: 1200ms;
    transition-delay: 1200ms;
}

.search-popup .form-group{
    position:relative;
    margin:0px; 
  
    overflow: hidden;
}
.search-popup .form-group input[type="text"],
.search-popup .form-group input[type="search"]{
    position: relative;
    display: block;
    font-size: 18px;
    line-height: 50px;
    color: var(--wt-common-white);
    height: 70px;
    width: 100%;
    padding: 10px 30px;
    background-color: transparent;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
                  font-weight: var(--wt-fw-medium);
    text-transform: capitalize;
    border: none;
    border-bottom: 1px solid var(--wt-theme-primary);
    outline: 0;
}
.search-popup .form-group input[type="search"] {
    padding: 10px 70px 10px 30px;
}
.search-popup .form-group input[type="submit"], .search-popup .form-group button {
	position: absolute;
	right: 30px;
	top: 0px;
	height: 70px;
	line-height: 70px;
	background: transparent;
	text-align: center;
	font-size: var(--wt-fz-h4);
	color: var(--wt-common-white);
	padding: 0;
	cursor: pointer;
	-webkit-transition: all 500ms ease;
    transition: all 500ms ease;
	border: none;
}

.search-popup .form-group input[type="submit"]:hover,
.search-popup .form-group button:hover{
    color: var(--wt-theme-primary);
}


.search-popup input::placeholder,
.search-popup textarea::placeholder{
    color:var(--wt-common-white);
    border: none;
}

.search-popup .close-search.style-two{
    position: absolute;
    right: 25px;
    left: auto;
    color:var(--wt-common-white);
    width:auto;
    height:auto;
    top:25px;
    margin:0px;
    border:none;
    background:none !important;
    box-shadow:none !important;
    -webkit-transition:all 500ms ease;
    -moz-transition:all 500ms ease;
    -ms-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition:all 500ms ease;
}

.search-box-btn {
    display: inline-block;
    padding-left: 22px;
}

.search-box-btn i {
    display: inline-block;
    color: var(--wt-common-white);
    line-height: 30px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    transition: .5s;
}

.upp.search-box-btn i {
    color: #9E9FA1;
}

.search-box-btn.search-box-outer span i {
    font-size: var(--wt-fz-h5);
    display: inline-block;
    color: var(--wt-common-white);
    padding-left: 17px;
    position: relative;
    z-index: 1;
}

.upp.search-box-btn.search-box-outer span i {
    color: #9E9FA1;
}

.search-box-btn.search-box-outer span i:after {
    position: absolute;
    content: "0";
    right: -10px;
    top: -4px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    background: #1552F6;
    color: var(--wt-common-white);
    border-radius: 50%;
    display: inline-block;
    font-size: 12px;
}

.flaticon-multiply:before {
    content: inherit;
}

button.close-search i {
    font-size: 25px;
    color: var(--wt-common-white);
    display: inline-block;
}
span.flaticon-multiply i {
	display: inline-block;
	color: var(--wt-common-white);
}